@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'poppins-reg';
      src: url("/fonts/Poppins-Regular.ttf");
    }
    @font-face {
      font-family: 'poppins-bold';
      src: url("/fonts/Poppins-Black.ttf");
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }